@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Lalezar|Shrikhand|Yellowtail');

body{
font-family: 'Lalezar', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Alex Brush', cursive;
font-family: 'Shrikhand', cursive;
background-color: blue !important;
}

.jumbotron{
		border-radius: 0px !important;
}

.fundo--tomato{
		background-color: #00cde1 !important;
}
